<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Cadastro de Usuário</title>
  </head>
  <body>
    <h1>Cadastro de Usuário</h1>

    <form action="/usuario" method="post">
      <label for="nome">Nome:</label>
      <input type="text" id="nome" name="nome" /><br /><br />
      <label for="quatroLetras">4 Letras:</label>
      <input type="text" id="quatroLetras" name="quatroLetras" /><br /><br />
      <label for="email">E-mail:</label>
      <input type="email" id="email" name="email" /><br /><br />
      <label for="senha">Senha:</label>
      <input type="password" id="senha" name="senha" /><br /><br />
      <input type="submit" value="Cadastrar" />
    </form>

    <br />
    <form action="/usuario/lista">
      <button type="submit">Voltar</button>
    </form>
  </body>
</html>
