<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Marcar Presença</title>
  </head>
  <body>
    <h1>Marcar Presença</h1>

    <form>
      <label>Participante 1</label>
      <input
        type="checkbox"
        name="data-do-evento"
        value="20/10/2022"
      />20/10/2022
      <input
        type="checkbox"
        name="data-do-evento"
        value="21/10/2022"
      />21/10/2022
      <input
        type="checkbox"
        name="data-do-evento"
        value="21/10/2022"
      />22/10/2022
      <br />
      <label>Participante 2</label>
      <input
        type="checkbox"
        name="data-do-evento"
        value="20/10/2022"
      />20/10/2022
      <input
        type="checkbox"
        name="data-do-evento"
        value="21/10/2022"
      />21/10/2022
      <input
        type="checkbox"
        name="data-do-evento"
        value="21/10/2022"
      />22/10/2022
      <br />
      <label>Participante 3</label>
      <input
        type="checkbox"
        name="data-do-evento"
        value="20/10/2022"
      />20/10/2022
      <input
        type="checkbox"
        name="data-do-evento"
        value="21/10/2022"
      />21/10/2022
      <input
        type="checkbox"
        name="data-do-evento"
        value="21/10/2022"
      />22/10/2022
      <br />
      <label>Participante 4</label>
      <input
        type="checkbox"
        name="data-do-evento"
        value="20/10/2022"
      />20/10/2022
      <input
        type="checkbox"
        name="data-do-evento"
        value="21/10/2022"
      />21/10/2022
      <input
        type="checkbox"
        name="data-do-evento"
        value="21/10/2022"
      />22/10/2022
      <br />
      <input type="submit" value="Salvar" />
    </form>

    <br />
    <form action="/evento/lista">
      <button type="submit">Voltar</button>
    </form>
  </body>
</html>
