<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Lista de Atividades</title>
</head>
<body>
<h1>Atividades</h1>

<div th:each="atividade : ${listaDeAtividadesParticipante.atividades}">
    <form th:action="${'/atividade/' + atividade.getCod() + '/descricao'}">
        <span
                th:text="${atividade.getCod() + ' - ' + atividade.getNome()}"
        ></span>
        <button type="submit">Visualizar</button>
    </form>
</div>
<h1>Participantes</h1>
<div th:each="participante : ${listaDeAtividadesParticipante.participantes}">
    <form th:action="${'/atividade/' + participante.getCod() + '/descricao'}">
        <span
                th:text="${participante.getCod() + ' - ' + participante.getNome()}"
        ></span>
        <button type="submit">Visualizar</button>
    </form>
</div>

<br />
<form action="/home">
    <button type="submit">Voltar</button>
</form>
<br />
<form action="/atividade/cadastro">
    <button type="submit">Cadastrar Novo Usuário</button>
</form>
</body>
</html>
