<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>GFT Eventos | Home</title>
  </head>
  <body>
    <h1>GFT - Eventos</h1>

    <form action="/evento/lista">
      <button type="submit">Lista de Eventos</button>
    </form>
    <br />
    <form action="/usuario/lista">
      <button type="submit">Lista de Usuários</button>
    </form>
    <br />
    <form action="/participante/lista">
      <button type="submit">Lista de Participantes</button>
    </form>
  </body>
</html>
